<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WebSockets - Simple chat</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style type="text/css">
    #chat-me.init #cm-inline-btns {
      padding: 5px;
      height: 26px;
      border-bottom: 1px solid white;
    }
    #chat-me.register #cm-inline-btns {
      padding: 5px;
      height: 25px;
    }
    #chat-me-label {
      position: relative;
      height: 100%;
    }
    #chat-me-tabs {
      font-size: 0;
      position: absolute;
      top:0%;
      width: 100%;
      background: -webkit-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: -o-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: linear-gradient(#6d727a, #7f8595, #b4bdd1);
    }
    #chat-me-tabs .chat-tab {
      position: relative;
      display: inline-block;
      overflow: hidden;
      border-right: 1px solid #aaa;
      cursor: pointer;
      font-weight: bold;
      font-size: 13px;
      padding: 4px 6px;
      background-color: #ddd;
      color: #333;
      max-width: 20%;
      vertical-align: middle;
      padding-left: 17px !important;
    }
    .chat-tab .volume-icon {
      position: absolute;
      left: 2px;
      top: 100%;
      padding: 1px;
      padding-top: 4px;
    }
    .volume-icon.vol-true:before {
      font-family: fontawesome;
      content: "\f028";
    }
    .volume-icon.vol-false:before {
      font-family: fontawesome;
      content: "\f026";
    }
    .chat-tab:before {
      position: absolute;
      font-family: fontawesome;
      font-size: 11px;
      left: 5px;
      padding-top: 6px;
      top: 0%;
    }
    .chat-tab.global-tab:before {
      content: "\f0ac";
    }
    .chat-tab.site-tab:before {
      content: "\f042";
    }
    .chat-tab.pass:before {
      content: "\f023";
    }
    .chat-tab.free:before {
      content: "\f0ac";
    }
    .chat-tab.custom {
      padding-right: 15px !important;
    }
    .chat-tab .remove-tab {
      position: absolute;
      right: 4px;
      top: 4px;
      font-size: 9px;
      padding: 3px;
      padding-right: 0px;
    }
    .chat-tab .remove-tab:hover {
      color: red;
    }
    .chat-tab .tab-text {
      overflow: hidden;
      white-space: nowrap;
    }
    #chat-me-options {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99999999;
      border: 1px solid #aaa;
      background-color: rgba(200,200,200, 0.9);
      color: #444;
    }
    #options-content {
      width: 100%;
      height: 100%;
    }
    #chat-me-options .options-center {
      display: flex;
      align-items: center;
      height: 100%;
    }
    #chat-me-options .options-block {
      width: 70%;
      margin: auto;
    }
    #chat-me-options .option {
      text-align: center;
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid grey;
      font-size: 11px;
      font-weight: bold;
      height: 20px;
      line-height: 20px;
    }
    .option:last-child {
      border-bottom: 0 !important;
    }
    .chat-tab:last-child {
      border-right: 0 !important;
    }
    .chat-tab:hover {
      background-color: white !important;
    }
    .chat-tab.sel {
      background: -webkit-linear-gradient(bottom, #eee, #fff);
      background: -o-linear-gradient(bottom, #eee, #fff);
      background: linear-gradient(to top, #eee, #fff);
      color: #0e508d !important;
    }
    .opts-chat-btn {
      float: right;
      padding: 3px 8px;
      font-size: 14px;
      border: 1px solid #ddd;
      margin-left: 2px;
      cursor: pointer;
    }
    #chat-me-options .close-options {
      position: absolute;
      z-index: 100;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    .close-options:hover {
      color: navajowhite;
    }
    .add-chat {
      width: 70%;
      margin: auto;
      margin-top: -13px;
    }
    .add-chat label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }
    .add-chat input {
      display: block;
      width: 100%;
      text-align: center;
    }
    .add-chat .addchat-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 11px;
      background-color: #2d48db;
      color: white;
      border: 0;
      padding: 7px 10px;
      cursor: pointer;
    }
    .add-chat #addchat-message {
      padding: 6px;
      margin-top: 5px;
      height: 12px;
      color: darkred;
    }
    .search-chat {
      box-sizing: border-box;
      height: 100%;
      padding: 15px 40px;
    }
    .search-chat-cont {
      margin: auto;
      display: flex;
      align-items: center;
      width: 100vh;
      padding: 2px 8px;
      border-radius: 4px;
      background-color: white;
    }
    .search-chat-input {
      width: 100%;
      outline: none;
      border: 0;
    }
    .search-chat-icon:before {
      font-family: fontawesome;
      content: "\f002";
      margin-left: 7px;
    }
    .search-div {
      width: 80%;
      margin-top: 12px;
    }
    .search-body {
      width: 80%;
      margin: auto;
    }
    .search-chat .chat-row {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;
    }
    .search-chat .chat-row:hover {
      background-color: #ddd;
    }
    .chat-row .chat-name {
      font-weight: bold;
      color: #32472d;
      margin-right: auto;
    }
    .chat-row .chat-online {
      color: #333;
      float: right;
      font-size: 13px;
      margin-right: 5px;
      font-weight: bold;
    }
    .chat-row.pass .chat-name:before {
      font-family: fontawesome;
      content: "\f023";
      margin-right: 7px;
    }
    .chat-row.free .chat-name:before {
      font-family: fontawesome;
      content: "\f0ac";
      margin-right: 7px;
    }
    .chat-name .sel {
      color: #36ad3c;
    }
    #type-password-mod {
      position: fixed;
      display: flex;
      align-items: center;
      left: 20%; top: 15%;
      width: 60%; height: 70%;
      background-color: rgba(200, 200, 200, 1);
      border: 1px solid #999;
    }
    #type-password-mod .hidetypepass {
      position: absolute;
      right: 3px;
      top: 3px;
      font-size: 13px;
      cursor: pointer;
    }
    #type-password-mod .type-password-cont {
      margin: 10px auto;
    }
    #type-password-text {
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      color: #444;
    }
    #type-password-name {
      color: green;
    }
    #type-password {
      border-radius: 5px;
      line-height: 20px;
      border: 0;
      text-align: center;
    }
    #type-password-message {
      color: darkred;
      text-align: center;
      height: 20px;
      line-height: 20px;
      margin-top: 10px;
    }
    #opts-spinner-cont {
      position: fixed;
      left: 0%; top: 0%;
      width: 100%; height: 100%;
      padding-top: 15%;
    }
    .opts-spinner {
      background-image: url('/images/spinner1.gif');
      background-size: 100% 100%;
      width: 80px;
      height: 80px;
    }
    #opts-spinner-cont.light {
      z-index: -1;
    }
    #opts-spinner-cont.full {
      z-index: 1;
      background-color: rgba(80, 80, 80, 0.4);
    }
    #settings {
      box-sizing: border-box;
      height: 100%;
      padding: 15px 40px;
    }
    #settings .settings-row {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    #settings .settings-row * {
      box-sizing: border-box;
    }
    #settings .settings-text {
      float: left;
      width: 40%;
      padding-right: 30px;
      font-weight: bold;
      text-align: right;
      color: #444;
    }
    #settings .settings-select {
      float: left;
      width: 60%;
      border-radius: 3px;
      padding: 2px 0;
      font-weight: bold;
    }
    #cm-inline-btns .btn {
      position: relative;
      height: 100%;
      background-color: #ddd;
      margin-left: 5px;
      float: right;
      border-radius: 2px;
      cursor: pointer;
      font-size: 11px;
    }
    .btn.min-btn {
      padding: 0 6px;
    }
    .btn.opts-btn:before {
      font-family: fontawesome;
      content: "\f013";
      padding: 0 6px;
    }
    .cm-message-status.isonline {
      color: green;
    }
    .cm-message-status.isoffline {
      color: darkred;
    }
    .cm-message-status.isbusy {
      color: darkorange;
    }
    .cm-message-status.isafk {
      color: red;
    }
    .cm-message-status.istoilet {
      color: darkorange;
    }
    .cm-message-status.typing:after {
      content: "typing..";
      color: grey;
      font-style: italic;
      margin-left: 3px;
    }
    .status-btn-container {
      
    }
    .status-btn-container:before {
      font-family: fontawesome;
      content: "\f2cd";
      padding: 0 5px;
    }
    .status-btn-container .status-modal {
      position: absolute;
      top: 100%;
      left: -78px;
      width: 100px;
      padding-top: 5px;
      display: none;
      z-index: 10;
    }
    .status-modal .modal-body {
      height: 100%;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
    .status-modal .status-row {
      padding: 3px 2px;
      color: #333;
      font-weight: bold;
      text-align: center;
      font-size: 9px;
    }
    .status-modal .status-row:hover {
      background-color: #ddd;
      color: rgb(50, 180, 50);
    }

  </style>
  <style type="text/css">
    .cm-scrolltemp
      {
        margin-left: 30px;
        float: left;
        height: 300px;
        width: 65px;
        background: #F5F5F5;
        overflow-y: scroll;
        margin-bottom: 25px;
      }
    .cm-scroll {
      overflow-y: scroll;
    }
    .cm-scroll::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }

    .cm-scroll::-webkit-scrollbar
      {
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
      }

    .cm-scroll::-webkit-scrollbar-thumb
      {
        border-radius: 5px;
        background-color: #609f46;
      }
  </style>
  <style type="text/css">
    .chat-tab:hover .volume-icon {
      animation: volin 0.13s forwards;
    }
    .chat-tab:hover:before {
      animation: icoout 0.13s forwards;
    }
    .chat-tab .volume-icon {
      animation: volout 0.13s forwards;
    }
    .chat-tab:before {
      animation: icoin 0.13s forwards;
    }

    @keyframes volin {
      from {
        top: 100%;
      }
      to {
        top: 0%;
      }
    }

    @keyframes volout {
      from {
        top: 0%;
      }
      to {
        top: 100%;
      }
    }

    @keyframes icoin {
      from {
        top: -100%;
      }
      to {
        top: 0%;
      }
    }

    @keyframes icoout {
      from {
        top: 0%;
      }
      to {
        top: -100%;
      }
    }
  </style>
</head>
<body>
  <div id="chat-me">

    <div id="chat-me-options" style="display:none">
      <i class="fa fa-times close-options" aria-hidden="true" onclick="hideOpts()"></i>
      <div id="options-content">
      </div>
    </div>

    <div id="chat-me-cont"></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/versions/001.js"></script>
</body>
</html>