<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>chatme</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style type="text/css">
    .hidden {
      display: none !important;
    }
    .cm-right {
      position: relative !important;
      float: right;
    }
    .cm-secondary {
      background-color: #ddd !important;
      color: #333 !important;
    }
    .cm-secondary:hover {
      background-color: #eee !important;
      color: #000 !important;
    }
    .user-You {
      float: right;
    }
    .floatleft {
      float: left;
    }
    .textright {
      text-align: right;
    }
    .modal .modal-body {
      box-shadow: 0px 2px 2px #aaa;
    }

    #chat-me.init #cm-inline-btns {
      padding: 5px;
      height: 26px;
      border-bottom: 1px solid white;
    }
    #chat-me.register #cm-inline-btns {
      padding: 5px;
      height: 25px;
    }
    #chat-me.logged #cm-inline-btns {
      padding-right: 1px;
    }
    #chat-me-label {
      position: relative;
      height: 100%;
    }
    #chat-me-tabs {
      white-space: nowrap;
      height: 24px;
      font-size: 0;
      position: absolute;
      top:0%;
      width: 100%;
      background: -webkit-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: -o-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: linear-gradient(#6d727a, #7f8595, #b4bdd1);
    }
    #chat-me-tabs .chat-tab {
      position: relative;
      display: inline-block;
      overflow: hidden;
      border-right: 1px solid #aaa;
      cursor: pointer;
      font-weight: bold;
      font-size: 13px;
      padding: 4px 6px;
      background-color: #ddd;
      color: #333;
      max-width: 20%;
      vertical-align: middle;
      padding-left: 19px !important;
    }
    .chat-tab .volume-icon {
      position: absolute;
      left: 2px;
      top: 100%;
      padding: 1px;
      padding-top: 4px;
    }
    .vol-true {
      color: green;
    }
    .vol-false {
      color: darkred;
    }
    .volume-icon.vol-true:before {
      font-family: fontawesome;
      content: "\f028";
    }
    .volume-icon.vol-false:before {
      font-family: fontawesome;
      content: "\f026";
    }
    .chat-tab:before {
      position: absolute;
      font-family: fontawesome;
      font-size: 11px;
      left: 5px;
      padding-top: 6px;
      top: 0%;
    }
    .chat-tab.global-tab:before {
      content: "\f0ac";
    }
    .chat-tab.site-tab:before {
      content: "\f0ac";
    }
    .chat-tab.pass:before {
      content: "\f023";
    }
    .chat-tab.free:before {
      content: "\f0ac";
    }
    .chat-tab.custom {
      padding-right: 15px !important;
    }
    .chat-tab .remove-tab {
      position: absolute;
      right: 4px;
      top: 4px;
      font-size: 9px;
      padding: 3px;
      padding-right: 0px;
    }
    .chat-tab .remove-tab:hover {
      color: red;
    }
    .chat-tab .tab-text {
      overflow: hidden;
      white-space: nowrap;
    }
    #chat-me-options {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99999999;
      border: 1px solid #aaa;
      background-color: rgba(200,200,200, 0.9);
      color: #444;
    }
    #options-content {
      width: 100%;
      height: 100%;
    }
    #chat-me-options .options-center {
      display: flex;
      align-items: center;
      height: 100%;
    }
    #chat-me-options .options-block {
      width: 70%;
      margin: auto;
    }
    #chat-me-options .option {
      text-align: center;
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      font-size: 11px;
      font-weight: bold;
      height: 20px;
      line-height: 20px;
    }
    .option:last-child {
      border-bottom: 0 !important;
    }
    .chat-tab:last-child {
      border-right: 0 !important;
    }
    .chat-tab:hover {
      background-color: white !important;
    }
    .chat-tab.sel {
      background: -webkit-linear-gradient(bottom, #eee, #fff);
      background: -o-linear-gradient(bottom, #eee, #fff);
      background: linear-gradient(to top, #eee, #fff);
      color: #0e508d !important;
    }
    .opts-chat-btn {
      float: right;
      padding: 3px 8px;
      font-size: 14px;
      border: 1px solid #ddd;
      margin-left: 2px;
      cursor: pointer;
    }
    #chat-me-options .close-options {
      position: absolute;
      z-index: 100;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    .close-options:hover {
      color: navajowhite;
    }
    .add-chat {
      width: 70%;
      height: 100%;
      margin: auto;
      display: flex;
      align-content: center;
    }
    .add-chat center {
      margin: auto;
    }
    .add-chat label {
      display: block;
      margin-top: 12px;
      font-weight: bold;
    }
    .add-chat input {
      display: block;
      width: 100%;
      text-align: center;
    }
    .add-chat .addchat-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 11px;
      background-color: #2d48db;
      color: white;
      border: 0;
      padding: 7px 10px;
      cursor: pointer;
    }
    .add-chat #addchat-message {
      padding: 6px;
      margin-top: 5px;
      height: 12px;
      color: darkred;
    }
    .search-chat {
      box-sizing: border-box;
      height: 100%;
      padding: 15px 40px;
    }
    .search-chat-cont {
      margin: auto;
      display: flex;
      align-items: center;
      width: 60%;
      padding: 2px 8px;
      border-radius: 4px;
      background-color: white;
    }
    .search-chat-input {
      width: 100%;
      outline: none;
      border: 0;
    }
    .search-chat-icon:before {
      font-family: fontawesome;
      content: "\f002";
      margin-left: 7px;
    }
    .search-div {
      width: 80%;
      margin-top: 12px;
    }
    .search-body {
      width: 80%;
      margin: auto;
    }
    .search-chat .chat-row {
      display: flex;
      align-items: center;
      padding: 5px;
      cursor: pointer;
    }
    .search-chat .chat-row:hover {
      background-color: #ddd;
    }
    .chat-row .chat-name {
      font-weight: bold;
      color: #32472d;
      margin-right: auto;
    }
    .chat-row .chat-online {
      color: #333;
      float: right;
      font-size: 13px;
      margin-right: 5px;
      font-weight: bold;
    }
    .chat-row.pass .chat-name:before {
      font-family: fontawesome;
      content: "\f023";
      margin-right: 7px;
    }
    .chat-row.free .chat-name:before {
      font-family: fontawesome;
      content: "\f0ac";
      margin-right: 7px;
    }
    .chat-name .sel {
      color: #36ad3c;
    }
    #type-password-mod {
      position: fixed;
      display: flex;
      align-items: center;
      left: 20%; top: 15%;
      width: 60%; height: 70%;
      background-color: rgba(200, 200, 200, 1);
      border: 1px solid #999;
    }
    #type-password-mod .hidetypepass {
      position: absolute;
      right: 3px;
      top: 3px;
      font-size: 13px;
      cursor: pointer;
    }
    #type-password-mod .type-password-cont {
      margin: 10px auto;
    }
    #type-password-text {
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      color: #444;
    }
    #type-password-name {
      color: green;
    }
    #type-password {
      border-radius: 5px;
      line-height: 20px;
      border: 0;
      text-align: center;
    }
    #type-password-message {
      color: darkred;
      text-align: center;
      height: 20px;
      line-height: 20px;
      margin-top: 10px;
    }
    #opts-spinner-cont {
      position: fixed;
      left: 0%; top: 0%;
      width: 100%; height: 100%;
      padding-top: 15%;
    }
    .opts-spinner {
      background-image: url('/images/spinner1.gif');
      background-size: 100% 100%;
      width: 80px;
      height: 80px;
    }
    #opts-spinner-cont.light {
      z-index: -1;
    }
    #opts-spinner-cont.full {
      z-index: 1;
      background-color: rgba(80, 80, 80, 0.4);
    }
    .settings {
      box-sizing: border-box;
      height: 100%;
      padding: 15px 40px;
    }
    .settings .settings-row {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    .settings .settings-row * {
      box-sizing: border-box;
    }
    .settings .settings-text {
      float: left;
      width: 40%;
      padding-right: 30px;
      font-weight: bold;
      text-align: right;
      color: #444;
    }
    .settings .settings-select {
      float: left;
      width: 60%;
      border-radius: 3px;
      padding: 2px 0;
      font-weight: bold;
    }
    .settings .settings-bottom {
      position: absolute;
      box-sizing: border-box;
      bottom: 0; left: 0;
      width: 100%;
      height: 35px;
      padding: 5px 8px;
    }
    .settings-bottom button {
      margin-left: 10px;
    }


    #cm-inline-btns .btn {
      position: relative;
      height: 100%;
      background-color: #ddd;
      margin-left: 5px;
      float: right;
      border-radius: 2px;
      cursor: pointer;
      font-size: 11px;
    }
    #cm-inline-btns .btn:hover {
      color: dodgerblue;
      background: #eee;
    }
    .btn.show-users-btn {
      float: left !important;
      padding: 0 6px;
    }
    .show-users-btn.users-true {
      color: lightseagreen !important;
    }
    .show-users-btn.users-false {
      color: grey !important;
    }

    .btn.show-users-btn:before {
      font-family: fontawesome;
      content: "\f0c0";
    }
    .btn.mute-btn {
      padding-left: 6px;
      width: 17px;
      float: left !important;
      margin-left: 0 !important;
    }
    .mute-btn.mute-true {
      color: grey !important;
    }
    .mute-true:before {
      font-family: fontawesome;
      content: "\f026";
    }
    .mute-btn.mute-false {
      color: lightseagreen !important;
      content: "\f024";
    }
    .mute-false:before {
      font-family: fontawesome;
      content: "\f028"; 
    }
    .btn.min-btn {
      padding: 0 6px;
    }
    .btn.attach-btn:before {
      font-family: fontawesome;
      content: "\f0c6";
      padding: 0 6px;
    }
    .attach-btn #attach-label {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }
    .btn.add-btn:before {
      font-family: fontawesome;
      content: "\f067";
      padding: 0 6px;
    }
    .btn.search-btn:before {
      font-family: fontawesome;
      content: "\f002";
      padding: 0 6px;
    }
    .btn.opts-btn:before {
      font-family: fontawesome;
      content: "\f013";
      padding: 0 6px;
    }
    .btn.status-btn {
      margin-right: 5px;
    }


    .cm-message-status.isonline {
      color: green;
    }
    .cm-message-status.isoffline {
      color: darkred;
    }
    .cm-message-status.isbusy {
      color: darkorange;
    }
    .cm-message-status.isafk {
      color: red;
    }
    .cm-message-status.istoilet {
      color: darkorange;
    }
    .cm-message-status.typing:after {
      content: "typing..";
      color: grey;
      font-style: italic;
      margin-left: 3px;
    }
    .status-btn:before {
      font-family: fontawesome;
      content: "\f2cd";
      padding: 0 5px;
    }
    .status-btn .status-modal {
      position: absolute;
      top: 100%;
      left: -88px;
      width: 110px;
      padding-top: 5px;
      display: none;
      z-index: 10;
    }
    .status-modal .modal-body {
      height: 100%;
      background-color: #fff;
      border-radius: 3px;
    }
    .status-modal .status-row {
      padding: 3px 2px;
      color: #333;
      font-weight: bold;
      text-align: center;
      font-size: 9px;
    }
    .status-modal .status-row:hover {
      background-color: #ddd;
      color: rgb(50, 180, 50);
    }
    .cm-system-msg {
      display: flex;
      align-items: center;  
      padding: 7px 5%;
    }
    .cm-system-msg hr {
      width: 100%;
      border-top: 1px solid #ccc;
      border-bottom: 0;
    }
    .cm-system-msg .system-text {
      white-space: nowrap;
      margin: 0 10px;
      font-style: italic;
      font-size: 9px;
      color: #555;
    }

    #cm-chat-panel {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    #cm-chat-not {
      position: absolute;
      display: flex;
      width: 90%;
      left: 5%;
      top: 35px;
    }
    #cm-not {
      margin: auto;
      padding: 4px 17px;
      text-align: center;
      color: white;
      font-size: 12px;
      background: rgba(9,154,70,0.8);
      border-radius: 9px;
    }
    #unseen-icon {
      width: 30px;
      line-height: 30px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      border-radius: 50%;
      background-color: rgba(20, 200, 40, 0.7);
      border: 1px solid rgba(20, 195, 40, 0.7);
      color: white;
      text-align: center;
      font-size: 12px;
      font-family: Arial;
      cursor: pointer;
    }
    .cm-unseen {
      background-color: #cce2cc;
    }
    .cm-message-body.user-You {
      background: #cfecd1;
    }
    .cm-message-name.user-offline {
      color: #777 !important;
      margin-right: 8px;
    }
    .cm-message-name.user-offline:after {
      float: right;
      margin-left: 5px;
      font-family: fontawesome;
      content: "\f235";
    }


    #cm-record .record-time {
      padding: 0 5px;
      width: 35px;
      margin-top: -1px;
    }

    .recording .record-time:before {
      font-family: fontawesome;
      content: "\f111";
      margin-right: 6px;
      color: red;
    }

    .recording {
      cursor: default !important;
    }

    .mic-btns {
      position: absolute;
      top: 100%;
    }
    .rec-btns {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 2px;
      height: 100%;
      width: 60px;
      position: absolute;
      top: 100%;
      right: 0;
      padding-bottom: 1px;
    }

    .rec-btns .recbtn {
      border-radius: 50%;
      margin: auto;
      cursor: pointer;
    }

    .recbtn.rec-accept {
      padding: 3px 4px;
      background-color: white;
      color: blue;
    }

    .recbtn:before {
      font-family: fontawesome;
    }

    .rec-accept:before {
      content: "\f00c";
    }

    .rec-accept:hover {
      background-color: green;
      color: white;
    }

    .recbtn.rec-cancel {
      padding: 3px 5px;
      background-color: white;
      color: red;
    }

    .rec-cancel:before {
      content: "\f00d";
    }

    .rec-cancel:hover {
      background-color: red;
      color: white;
    }

    .username.user-recording:after {
      font-family: fontawesome;
      content: "\f111";
      margin-left: 3px;
      color: red;
      font-size: 7px;
    }

  </style>
  <style type="text/css">
    .cm-scroll {
      overflow-y: auto;
    }
    .cm-scroll.scroll-x {
      overflow-y: hidden;
      overflow-x: auto;
    }
    .cm-scroll::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
      }

    .cm-scroll::-webkit-scrollbar
      {
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
      }

    .cm-scroll::-webkit-scrollbar-thumb
      {
        border-radius: 5px;
        background-color: #609f46;
      }
  
    .cm-tabs-scroll::-webkit-scrollbar-track
      {
        --webkit-box-shadow: none !important;
        background-color: #37617c !important;
      }
  </style>
  <style type="text/css">
    .chat-tab:hover .volume-icon {
      animation: upin 0.13s forwards;
    }
    .chat-tab:hover:before {
      animation: upout 0.13s forwards;
    }
    .chat-tab .volume-icon {
      animation: downout 0.13s forwards;
      width: 13px;
    }

    .chat-tab:before {
      animation: downin 0.13s forwards;
    }

    .cm-seen {
      animation: seen 1.20s forwards;
    }

    #cm-record.recording {
      animation: btnrec 1.2s infinite;
      animation-direction: alternate;
    }

    #cm-record.recording .micico {
      animation: downout 0.4s forwards;
    }

    #cm-record.recording .rec-btns {
      animation: upin 0.3s forwards;
    }

    #cm-record:not(.recording).stopped .micico {
      animation: upin 0.3s forwards;
    }

    #cm-record:not(.recording).stopped .rec-btns {
      animation: downout 0.3s forwards;
    }

    .username.user-recording:after {
      animation: userrec 0.9s infinite;
      animation-direction: alternate;
    }

    .recording .record-time:before {
      animation: userrec 0.9s infinite;
      animation-direction: alternate;
    }

    @keyframes upin {
      from {
        top: 100%;
      }
      to {
        top: 0%;
      }
    }

    @keyframes downout {
      from {
        top: 0%;
      }
      to {
        top: 100%;
      }
    }

    @keyframes downin {
      from {
        top: -100%;
      }
      to {
        top: 0%;
      }
    }

    @keyframes upout {
      from {
        top: 0%;
      }
      to {
        top: -100%;
      }
    }

    @keyframes seen {
      from {
        background-color: #cce2cc;
      }
      to {
        background-color: transparent;
      }
    }

    @keyframes btnrec {
      from {
        background-color: #c9813f;
      }
      to {
        background-color: #a26a38;
      }
    }

    @keyframes userrec {
      from {
        opacity: 0.0;
      }
      to {
        opacity: 1.0;
      }
    }
  </style>
  <style type="text/css">
    .cm-message-audio {
      display: flex;
      align-items: center;
      margin-left: 3px;
      margin-right:5px;
      color:#07324e;
    }
    .cm-audio-body {
      width: 80%;
      max-width: 250px !important;
      padding-bottom: 15px !important;
    }
    .audionav-body {
      position: relative;
      width: 100%;
      height: 14px;
      margin-left: 14px;
      margin-right: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .audio-duration {
      font-size: 11px;
      margin-left: 5px;
    }
  </style>
  <style type="text/css">
    .play-button {
      height: 18px;
      width: 24px;
      display: block;
      overflow: hidden;
      position: relative;
      margin-left: 9px;
    }
    .left {
      height: 100%;
      float: left;
      background-color: #555;
      width: 36%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      overflow: hidden;
    }
    .right {
      height: 100%;
      float: right;
      width: 36%;
      background-color: #555;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .triangle-1 {
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%);
    }
    .triangle-2 {
      -webkit-transform: translate(0, 100%);
              transform: translate(0, 100%);
    }
    .triangle-1,
    .triangle-2 {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 0;
      height: 0;
      border-right: 18px solid #d3e4f1;
      border-top: 9px solid transparent;
      border-bottom: 9px solid transparent;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
    .user-You .triangle-1, .user-You .triangle-2 {
      border-right: 18px solid #cfecd1;
    }
    .paused .left {
      width: 50%;
    }
    .paused .right {
      width: 50%;
    }
    .paused .triangle-1 {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
    }
    .paused .triangle-2 {
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%);
    }

  </style>
  <style type="text/css">
    .audio-track {
      -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
      width: 100%;
      height: 100%;
      background: transparent; /* Otherwise white in Chrome */
    }

    .audio-track::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    .audio-track:focus {
      outline: none;
    }

    .audio-track::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent; 
      border-color: transparent;
      color: transparent;
    }



    /* Special styling for WebKit/Blink */
    .audio-track::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: rgb(70,130,210);
      cursor: pointer;
      margin-top: -6px;
    }

    /* All the same stuff for Firefox */
    .audio-track::-moz-range-thumb {
      -webkit-appearance: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: rgb(70,130,210);
      cursor: pointer;
    }

    /* All the same stuff for IE */
    .audio-track::-ms-thumb {
      -webkit-appearance: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background: rgb(70,130,210);
      cursor: pointer;
    }

    .audio-track:active::-webkit-slider-thumb {
      width: 18px;
      height: 18px;
      margin-top: -8px;
    }

    .user-You .audio-track::-webkit-slider-thumb,
    .user-You .audio-track::-moz-range-thumb,
    .user-You .audio-track::-ms-thumb {
      background: rgb(70,210,90) !important;
    }


    .audio-track::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #3071a9;
      border-radius: 3px;
      background-color: rgba(85,85,85,0.6);
    }

    .audio-track::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }

    .audio-track::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    .audio-track::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    .audio-track::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
  </style>
</head>
<body>
  <div id="chat-me">

    <div id="chat-me-options" style="display:none">
      <i class="fa fa-times close-options" aria-hidden="true" onclick="hideOpts()"></i>
      <div id="options-content">
      </div>
    </div>

    <div id="chat-me-cont"></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/socket.io-stream.js"></script>
  <script type="text/javascript" src="/javascripts/stream-client.js"></script>
  <script type="text/javascript" src="/versions/001.js"></script>
  <script type="text/javascript" src="/javascripts/media-recorder.js"></script>
</body>
</html>