<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WebSockets - Simple chat</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    #chat-me-tabs {
      font-size: 0;
      position: absolute;
      top:0%;
      width: 100%;
      background: -webkit-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: -o-linear-gradient(#6d727a, #7f8595, #b4bdd1);
      background: linear-gradient(#6d727a, #7f8595, #b4bdd1);
    }
    #chat-me-tabs .chat-tab {
      position: relative;
      border-right: 1px solid #aaa;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;
      font-size: 13px;
      padding: 4px 6px;
      background-color: #ddd;
      max-width: 20%;
      vertical-align: middle;
    }
    .chat-tab.pass {
      padding-left: 17px !important;
    }
    .chat-tab.pass:before {
      position: absolute;
      font-family: fontawesome;
      content: "\f023";
      font-size: 11px;
      left: 5px; top: 7px;
    }
    .chat-tab.custom {
      padding-right: 15px !important;
    }
    .chat-tab .remove-tab {
      position: absolute;
      right: 4px;
      top: 4px;
      font-size: 9px;
      padding: 3px;
      padding-right: 0px;
    }
    .chat-tab .tab-text {
      overflow: hidden;
      white-space: nowrap;
    }
    #chat-me-options {
      position: fixed;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 99999999;
      border: 1px solid #aaa;
      background-color: rgba(200,200,200, 0.9);
      color: #444;
    }
    #options-content {
      width: 100%;
    }
    #chat-me-options .options-block {
      width: 70%;
      margin: auto;
    }
    #chat-me-options .option {
      text-align: center;
      padding: 5px;
      cursor: pointer;
      border-bottom: 1px solid grey;
      font-size: 11px;
      font-weight: bold;
      height: 20px;
      line-height: 20px;
    }
    .option:last-child {
      border-bottom: 0 !important;
    }
    .chat-tab:last-child {
      border-right: 0 !important;
    }
    .chat-tab.sel {
      background: -webkit-linear-gradient(bottom, #eee, #fff);
      background: -o-linear-gradient(bottom, #eee, #fff);
      background: linear-gradient(to top, #eee, #fff);
    }
    .opts-chat-btn {
      float: right;
      padding: 3px 8px;
      font-size: 14px;
      border: 1px solid #ddd;
      margin-left: 2px;
      cursor: pointer;
    }
    #chat-me-options .close-options {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    .add-chat {
      width: 70%;
      margin: auto;
      margin-top: -15px;
    }
    .add-chat label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }
    .add-chat input {
      display: block;
      width: 100%;
      text-align: center;
    }
    .add-chat .addchat-btn {
      margin-top: 20px;
      font-weight: bold;
      font-size: 11px;
      background-color: #2d48db;
      color: white;
      border: 0;
      padding: 7px 10px;
      cursor: pointer;
    }
    .add-chat #addchat-message {
      padding: 6px;
      margin-top: 5px;
      height: 12px;
      color: darkred;
    }
  </style>
</head>
<body>
  <div id="chat-me">

    <div id="chat-me-options" style="display:none">
      <i class="fa fa-times close-options" aria-hidden="true" onclick="hideOpts()"></i>
      <div id="options-content">
        
      </div>
    </div>

    <div id="chat-me-cont"></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/versions/001.js"></script>
  <script type="text/javascript">
    function hideOpts() {
      $('#chat-me-options').hide();
    }
    $(document).on('click', '.chat-tab', function() {
      $('#chat-me-tabs .chat-tab').removeClass('sel');
      $(this).addClass('sel');
    });
    $(document).on('click', '.site-tab', function() {
      switchchat('site', {name: site});
    });
    $(document).on('click', '.opts-chat-btn', function() {
      options.show();
      chatOptions.initOptions();
    });
    $(document).on('mouseenter', '.option', function() {
      $(this).css({
        'background-color': 'rgb(157,162,164)',
        'color'           : 'navajowhite'
      });
      $(this).animate({
        'font-size': '13px'
      }, {queue: false, duration: 50});
    }).on('mouseleave', '.option', function() {
      $(this).css({
        'background-color': '',
        'color': ''
      });
      $(this).animate({
        'font-size': '11px'
      }, {queue: false, duration: 50});
    });
  </script>
</body>
</html>