<!DOCTYPE html>
<html>
<head>
	<title>websocket socket io</title>
</head>
<body>
	Ciaone mondo!
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io();
	</script>
</body>
</html>