body {
	background: #325064;
	margin: 0;
	padding: 4px;
	width: 210px;
}

.title {
	font-size: 16px;
	margin-top: 0;
    padding: 10px;
    color: wheat;
    font-weight: bold;
}

.control-row {
	width: 100%;
	padding: 10px 5px;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.control-label {
	width: 55%;
	color: #eee;
	font-weight: bold;
}

.switch-btn {
	position: relative;
	box-sizing: border-box;
	width: 50px;
	height: 22px;
	background: white;
	padding: 3px;
}

.switch-silhouette {
	position: relative;
	width: 100%;
	height: 100%;
	background: #aaa;
	border-radius: 25px;
	overflow: hidden;
}

.switch-track {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	background-color: green;
	padding-left: 5px;
	/*left: -100%;*/
}

.switch-track:before {
	display: block;
	color: white;
	content: "ON";
	font-size: 10px;
}

.switch-track:after {
	position: absolute;
	top: 0; right: -40px;
	display: block;
	color: gray;
	content: "OFF";
	font-size: 10px;
}

.switch-thumb {
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
	border-radius: 56px;
	background: #999;
	left: calc(100% - 22px);
}

.cm-button {
	position: relative;
	width: 60px;
	height: 25px;
	background: -webkit-linear-gradient(#1eec49, #038c20);
	background: -o-linear-gradient(#1eec49, #038c20);
	background: linear-gradient(#1eec49, #038c20);
	color: white;
	border: 0;
	border-radius: 2px;
}

.cm-button:hover {
	background: linear-gradient(#0eff41, #009620);
}

.cm-button:hover > .cm-shadow {
	background: #75e861;
}

.cm-shadow {
	position: absolute;
	top: 2px; left: 2px;
	width: 56px; height: 5px;
	border-radius: 5px;
	background: #6ddc59;
}